<div class="container card shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="card-title">Cadastro de Carro</h2>

    <form #formBook="ngForm" class="row g-3 card-body">

        <div class="col-md-12">
            <label for="nome" class="form-label">Nome</label>
            <input [(ngModel)]="carro.nome" type="text" id="nome" name="nome" class="form-control" placeholder="Ex.: HB20, Gol, Uno, Celta" required />
        </div>


        <div class="col-md-6">
            <label for="montadora" class="form-label">Montadora</label>
            <input [(ngModel)]="carro.montadora" type="text" id="montadora" name="montadora" class="form-control"
                placeholder="Ex.: Ford, Chevrolet, Fiat" required />
        </div>

        <div class="col-md-4">
            <label for="preço" class="form-label">Preço</label>
            <input [(ngModel)]="carro.preco" type="number" id="preço" name="preço" class="form-control" placeholder="Ex.: 50000" required />
        </div>

        <div class="col-md-2">
            <label for="ano" class="form-label">Ano</label>
            <input [(ngModel)]="carro.ano" type="number" id="ano" name="ano" class="form-control" placeholder="Ex.: 2020" required />
        </div>

        <div class="col-12">
            <button class="btn btn-primary" (click)="save()" [disabled]="formBook.invalid" >Cadastrar</button>
        </div>
    </form>
</div>